@font-face {
  font-family: "Matrix"; 
  src: url("./font/matrixcodenfi.ttf") format("truetype");
  font-style: normal; 
  font-weight: normal; 
} 

.body {
  margin: 0;
}

.canvas {
  display: block;
  background-color: black;
  text-shadow: #1bbe12;
}